{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SavorySyntax{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'ai_chef.png' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="bg-gray-50 min-h-screen">
    <nav class="bg-white shadow mb-8">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="{% static 'ai_chef.png' %}" class="h-9 self-center" alt="Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-green-700 hover:text-green-500 ">SavorySyntax</span>
            </a>
            <div>
                <a href="/recipes/" class="mx-2 text-gray-700 hover:text-green-600">Recipes</a>
                <a href="/recipes/generate/" class="mx-2 text-gray-700 hover:text-green-600">Generate</a>
                <a href="/recipes/manual/" class="mx-2 text-gray-700 hover:text-green-600">Manual Entry</a>
                {% if user.is_authenticated %}
                    <a href="/users/profile/" class="mx-2 text-gray-700 hover:text-green-600">Profile</a>
                    <a href="/users/logout/" class="mx-2 text-gray-700 hover:text-green-600">Logout</a>
                {% else %}
                    <a href="/users/login/" class="mx-2 text-gray-700 hover:text-green-600">Login</a>
                    <a href="/users/register/" class="mx-2 text-gray-700 hover:text-green-600">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <main class="container mx-auto px-4">
        {% block content %}{% endblock %}
    </main>
</body>
</html> 