[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
transformers = "*"
torch = "*"
dj-database-url = "*"
psycopg2-binary = "*"
python-dotenv = "*"
together = "*"

[dev-packages]

[requires]
python_version = "3.12"
